<div class="card">
  <div class="card-header">
    <h4>List of User's</h4>
  </div>
</div>
<br>
<div class="container" style="marign-top: 20px">
  <% @users.each do |user| %>
  <a href=<%= "/users/#{user.id}" %> class="text-decoration-none">
   <%= render "user", user: user %>
  </a>
<% end %>

</div>