<div class="comments-container">
  <div style="display: flex; justify-content: space-between; border-bottom: 1px solid black; margin:2px; padding:2px">
  <p class="comment"  ><%= comment.author.name %> : <%= comment.text %></p>
  <% if can? :destroy, comment %>
  <%= link_to "Delete", user_post_comment_path(@post.author, @post.id, comment.id), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  }, class:"btn btn-danger"
  %>
  <%end%>
  </div>
  <br>
</div>